[2019-02-04 06:18] coderwassananmol opened #1 "Apply pagination to Queue"

[2019-02-06 06:01] coderwassananmol commented on #1
Fixed in [this commit](https://github.com/coderwassananmol/BUB2/commit/24d953f408e40f5bafd1c1a2a6a1d4bb46020ab4)

[2019-02-06 06:01] #1 closed

[2019-10-07 09:49] coderwassananmol opened #4 "Implement Redis Queue"
Earlier, I developed the queue for MongoDB but I migrated to Redis recently. Queue service has to be implemented.
The front-end design is already made. We just need to configure the queue logic.

[2019-10-07 10:11] coderwassananmol opened #5 "Add email queue to Panjab Digital Library"
Currently, email queue is only integrated with Google Books. We also need the email queue for Panjab Digital Library to notify the user.

[2019-10-07 10:13] coderwassananmol opened #6 "Remove the deprecation warnings"
A few deprecation warnings arrive while using the tool. We need to get rid of them.

[2019-10-07 10:15] coderwassananmol opened #7 "Show book preview after user adds Google Books ID"
Currently, we only show the book title and steps. It would be nice to show book cover image as well.

[2019-10-07 10:18] coderwassananmol opened #8 "Show book preview and confirmation after user adds Panjab Digital Library URL"
Currently, we only show the user confirmation text. We need to show him a preview where he/she can see the information of book and a confirmation button should be displayed. After the user clicks on the button, only then the book should be uploaded.

[2019-10-07 10:20] coderwassananmol opened #9 "Write unit test cases"
We don't have any unit test cases yet but we need them for future testing. You can use any library you wish. Write unit test cases for each function.

[2019-10-07 14:08] Nikhil-Kumaran commented on #6
Hey @coderwassananmol
Did you mean the depreciation warning during npm install?

![Screenshot 2019-10-07 at 7 36 38 PM](https://user-images.githubusercontent.com/25131835/66318968-eb346d00-e939-11e9-8bff-b8af6579a2c3.png)

If not can you give more context and post a screenshot if possible?

[2019-10-07 18:20] coderwassananmol commented on #6
Yes. But when you use the application, you will find a few deprecation warnings like using Buffer etc. Search for all the possible deprecation warnings and change the code if necessary.

[2019-10-08 09:49] coderwassananmol opened #10 "Write CONTRIBUTING.md"
We need a CONTRIBUTING.md file for contributing guidelines for new developers.

[2019-10-08 09:53] JeffOgah commented on #10
I'll get on this

[2019-10-08 10:22] #5 closed

[2019-10-08 15:18] JeffOgah commented on #10
Pull request opened [here](https://github.com/coderwassananmol/BUB2/pull/12) @coderwassananmol

[2019-10-08 15:19] itsthecheat commented on #7
Hi @coderwassananmol, would love to take this on

[2019-10-08 15:26] #10 closed

[2019-10-08 15:56] coderwassananmol opened #13 "PDL upload fails upon large uploads"
If you try to upload a big book with large number of pages, then the book is not uploaded. I think it is related to the hard coded 128 extra bytes. This has to change to no_of_pages * 16 bytes.

[2019-10-08 16:00] #13 closed

[2019-10-08 16:02] coderwassananmol commented on #7
Feel free! :)

[2019-10-09 07:07] coderwassananmol opened #15 "Update README.md to include contributing guidelines"
The contributing guidelines are already in CONTRIBUTING.md file. We need to update the README.md to show the users contributing guidelines.

[2019-10-09 07:40] coderwassananmol opened #17 "Add LICENSE.md file and add the instructions in README.md"
We follow MIT License for BUB2. Add a LiCENSE.md file and add the license field in README.md.

[2019-10-09 08:01] yottanami commented on #17
I would like to do this.

[2019-10-09 12:18] Ijebusoma commented on #15
Hi, any assignee yet for this task? If none, I'll like to take it up

[2019-10-09 12:23] #17 closed

[2019-10-09 12:26] coderwassananmol commented on #15
Hi @Ijebusoma, PR has already been made and merged. Please take up any other issue. Thanks.

[2019-10-09 12:26] #15 closed

[2019-10-09 12:29] coderwassananmol opened #23 "Miscalculation of size of zip on network failure"
Whenever a network is made to fetch the images in PDL, sometimes it throws 500. Even when the network resets, it gives error. The image is not added to the zip but it has been counted for calculating the size of the zip.

[2019-10-13 18:22] #23 closed

[2020-02-22 02:31] coderwassananmol commented on #4
The queue has been implemented in the form of cards.

[2020-02-22 02:31] #4 closed

[2020-02-25 02:30] guptavarun619 opened #26 "Increase Modularity in code"
```./component/ParticularBook.js``` and ```./component/Books.js``` are too long to review at once. It can be improved by creating seperate style sheet and seperate modular component (if necessary).

[2020-02-26 03:23] shreyasrivastava936 commented on #6
Hi! I want to work on this issue. please assign this task to me fo GSSoC'20.

[2020-02-26 03:23] shreyasrivastava936 commented on #7
Hi! I want to work on this issue. please assign this task to me fo GSSoC'20.

[2020-02-26 03:27] shreyasrivastava936 commented on #8
Hi! I want to work on this issue. please assign this task to me fo GSSoC'20.

[2020-02-26 16:19] ankitjena opened #29 "Add docker-compose file for easy redis setup"
## Background
Docker eases up setting up databases and other services. Having a docker-compose file in repository allows users to just do `docker-compose up` and get everything setup.

## TODO
- Add docker-compose file with the redis service
- Update setup instructions in readme accordingly

[2020-02-28 04:27] TeAmP0is0N commented on #6
I would like to work on this issue.

[2020-02-28 14:44] Major2001 commented on #6
@coderwassananmol  I would like to work on this issue

[2020-02-29 04:53] Major2001 commented on #26
@coderwassananmol  I would like to work on this issue

[2020-02-29 04:56] Major2001 commented on #7
@coderwassananmol I want to work on this issue

[2020-02-29 07:10] vipuldcoder commented on #29
I am interested with the issue.

[2020-02-29 07:32] vipuldcoder commented on #9
I am interested with the issue.

[2020-02-29 09:46] adityabisoi commented on #29
@ankitjena I can work on this issue

[2020-02-29 09:49] ankitjena commented on #29
@vipuldcoder @adityabisoi Feel free to make PR!

[2020-02-29 20:10] guptavarun619 commented on #26
It's better to create separate `style.css` for components in my opinion shall i send a PR regarding this?

[2020-03-01 05:13] LMPerera commented on #29
https://github.com/coderwassananmol/BUB2/issues/29

[2020-03-01 05:13] LMPerera commented on #8
https://github.com/coderwassananmol/BUB2/issues/29

[2020-03-01 05:14] LMPerera commented on #7
I would like to work on this issue

[2020-03-01 05:30] BhuwanChandra commented on #8
@coderwassananmol I would like to work on this issue. Please assign this to me.

[2020-03-01 05:36] rajat2502 commented on #8
@shreyasrivastava936 Go Ahead and keep us updated about your progress.

[2020-03-01 06:48] shreyasrivastava936 commented on #8
@rajat2502  yeah sure

[2020-03-01 08:52] coderwassananmol opened #31 "New design for the homepage"
We need a new UI for the homepage. The current UI is user-friendly but it needs to be tweaked.
Here's what I am expecting:
1. The fields should remain the same, except that e-mail field should now be optional.
2. A solid background color, the fields can have a border.
3. Use some [developer friendly fonts](https://scotch.io/bar-talk/top-10-monospace-fonts-for-developers).

These are simplest requi

[2020-03-01 08:54] coderwassananmol opened #33 "Add GitHub star and fork plugin"
This should appear on top left on every page.

[2020-03-01 08:57] coderwassananmol commented on #26
Hi guys, I don't want a separate CSS file. We styled jsx that is compiled and lazy-loaded in run time for a specific component. You can increase modularity in other aspects if you feel.

[2020-03-01 09:00] coderwassananmol commented on #9
Feel free to submit a PR!

[2020-03-01 09:08] coderwassananmol opened #34 "Add a footer"
This static footer should say:
"Made with ❤ for [WMF Logo]"
"License: [CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/deed.en) Author: [User:Neolux](https://en.wikipedia.org/wiki/User:Neolux)
Use [this](https://commons.wikimedia.org/wiki/File:Wikimedia_Foundation_Logo.png) file for WMF logo
Since the image has CC BY-SA 4.0 license, don't forget to give proper credit.

[2020-03-01 09:16] coderwassananmol opened #35 "Make the e-mail field optional"
Currently, the email field is mandatory, even if the user doesn't want to share his/her email. I don't want the e-mail field to appear at all, if the user doesn't want the update on e-mail.

[2020-03-01 09:16] coderwassananmol commented on #7
Feel free to add PR.

[2020-03-01 09:17] coderwassananmol commented on #6
Feel free to add PR

[2020-03-01 09:38] adityabisoi commented on #33
@coderwassananmol I can work on this. Please assign me. Thanks.

[2020-03-01 12:49] BhuwanChandra commented on #35
@coderwassananmol I would like to work on this issue. please assign this to me.

[2020-03-01 12:53] BhuwanChandra commented on #34
@coderwassananmol I would like to work on this issue. please assign this to me.

[2020-03-01 13:11] coderwassananmol commented on #35
Please go ahead!

[2020-03-01 13:11] coderwassananmol commented on #34
Please go ahead!

[2020-03-01 13:11] coderwassananmol commented on #33
Feel free to submit a PR!

[2020-03-01 15:25] Samarjiit commented on #31
Hey, i am interested in working on this issue.

[2020-03-01 18:05] #29 closed

[2020-03-01 18:09] coderwassananmol commented on #31
Do you want to work alone or you need some help? Feel free to collaborate and submit a sample wireframe.

[2020-03-01 18:15] Samarjiit commented on #31
@coderwassananmol  it will be good if someone can collaborate with me for this issue.

[2020-03-01 18:19] coderwassananmol commented on #31
You can find another participant to work on this with you.

[2020-03-02 19:58] coderwassananmol commented on #8
@shreyasrivastava936 Please provide updates on the issue. If you are stuck somewhere, we'll be happy to help!

[2020-03-03 10:28] guptavarun619 commented on #31
I would like to work on this issue with @Samarjiit. Please assign me this issue if i can collaborate on this.

[2020-03-03 17:15] rkpattnaik780 opened #38 "Modify instructions for local setup in README.md"
The [Getting Started](https://github.com/coderwassananmol/BUB2#getting-started) section of `README.md` makes it look like docker is compulsory for local setup of the project. The instructions should be more sectionalized and the docker setup instructions should be within another section.

You might refer [this link](https://github.com/coderwassananmol/BUB2/tree/8d97fed59bdccfb4c6af438057061e2907f3

[2020-03-03 17:22] rkpattnaik780 commented on #38
To get a better idea about sectionalization, you can refer to this doc: [Setting_up_Habitica_Locally_on_Linux](https://habitica.fandom.com/wiki/Setting_up_Habitica_Locally_on_Linux).

[2020-03-03 17:39] #35 closed

[2020-03-03 17:48] adityabisoi commented on #38
@rkpattnaik780 I can improve the documentation. Please assign me the issue.

[2020-03-03 17:54] rkpattnaik780 opened #39 "Add instructions for raising pull request in CONTRIBUTING.md"
To make things slightly organized the project should have guidelines regarding writing commit messages and raising a PR. We can have another heading in the `CONTRIBUTING.md` for PRs. For now we have thought of two important instructions :

1. A PR should have only one commit. Multiple commits should be squashed.
2. Commit messages should follow a certain guideline. For example the [Udacity Git Sty

[2020-03-03 18:36] coderwassananmol opened #40 "Change the name of /queue route to /stats route"
Should be done before #41  #42 #43

[2020-03-03 18:38] coderwassananmol opened #41 "Show number of books uploaded from BUB2 to internet archive"
Internet Archive has advanced search API that has an extensive search feature. Search for uploaded by "bub.wikimedia".
Show it in the new /stats route below the queue information. Style accordingly.

[2020-03-03 18:51] BhuwanChandra commented on #41
@coderwassananmol I would like to work on this issue. please assign this to me

[2020-03-03 19:03] coderwassananmol opened #42 "Make a /queue route"
1. Add two sections -

- Google Books Queue
- Panjab Digital Library Queue

2. In each of the section, show:
Current Active: ________
Next -> _________
Show queue button

Note:
1. Don't add any other functionality to it. There will be separate tasks for it.
2. Have a clear design with good typography.
3. The show queue button should redirect to "/queue/list"

[2020-03-03 19:08] coderwassananmol opened #43 "Connect the /queue route with data"
1. Check Bull's documentation [here](https://github.com/OptimalBits/bull#documentation)
2. Get current active job and show it next to **Current Active** tab
3. Get next job in queue and show it next to **Next** tab
4. Add both of them as links and they should point it to "/queue/list/:jobid" where ":jobid" is a path parameter.

[2020-03-03 19:12] coderwassananmol commented on #41
Please take a look at #40 first. This should be taken after that.

[2020-03-03 19:23] coderwassananmol commented on #41
@BhuwanChandra You can start working on it as an individual piece.

[2020-03-03 19:24] coderwassananmol commented on #8
Removing the "taken" flag due to inactivity.

[2020-03-03 19:24] coderwassananmol commented on #34
@BhuwanChandra Any updates on the issue?

[2020-03-03 19:48] coderwassananmol opened #44 "Make a /queue/list route"
1. Show name of the library on top
2. Add 4 buttons - Waiting (<No. of jobs in waiting>) Completed (<No. of jobs in Completed>) Failed (<No. of jobs in failed>) Delayed (<No. of jobs in Delayed>)
3. Within the brackets in the design, show the number of jobs of that specified type. This functionality has already been done in the current /queue page. Check the API for more information.

Sample desig

[2020-03-03 20:01] coderwassananmol opened #45 "Add a table to show the jobs of each type on queue listing page"
1. The table should contain two headers:
a) Job ID
b) Title

2. The data of the table will change upon clicking on the type of job (waiting, completed, delayed, failed).

3. The data will be taken from the Bull API. Documentation [here](https://github.com/OptimalBits/bull#documentation).

4. Default is waiting.

5. The title should link to "/queue/list/:jobid", where ":jobid" is a path parameter.

[2020-03-03 20:17] coderwassananmol opened #46 "Store information in job logs for google books"
During upload from google books, we should use https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#joblog to store job logs. The information should be stored in stringified json with the following fields:
thumbnail uri, title, author, pages, internet archive link

This information will be used by the queue listing page and for listing a particular job.

[2020-03-03 20:19] coderwassananmol opened #47 "Store information in job logs for panjab digital library"
During upload from panjab library, we should use https://github.com/OptimalBits/bull/blob/develop/REFERENCE.md#joblog to store job logs. The information should be stored in stringified json with the following fields:
image uri, title, author, pages, internet archive link

This information will be used by the queue listing page and for listing a particular job.

[2020-03-04 00:17] guptavarun619 commented on #39
I would like to contribute in this documentation process, If I may. And may contributors are new to using git as version controlling tool. The CONTRIBUTING.md should be beginner friendly too. Please assign me this issue.

[2020-03-04 06:47] rkpattnaik780 commented on #39
That's exactly how we want the `CONTRIBUTING.md` to be. Feel free to ask anything.

[2020-03-04 07:15] BhuwanChandra commented on #34
working on it, I will try to make a PR by tomorrow

[2020-03-04 10:56] meghaa105 commented on #39
Can I take this up?

[2020-03-04 10:57] meghaa105 commented on #42
Can I take this up?

[2020-03-04 10:58] meghaa105 commented on #33
Can I take this up?

[2020-03-04 10:59] meghaa105 commented on #31
Can I take this up?

[2020-03-04 10:59] rkpattnaik780 commented on #39
Hello Megha, this issue has been already assigned. It will be great if you could look at some of our unclaimed issues.

[2020-03-04 10:59] meghaa105 commented on #26
I would like to take this up........

[2020-03-04 11:01] rkpattnaik780 commented on #42
Go ahead. Do feel free to ask doubts if any encountered.

[2020-03-04 13:38] ankitjena commented on #31
You guys can use [Figma](https://www.figma.com/) for this.

[2020-03-04 18:33] meghaa105 commented on #31
So I should be working on this or not?

On Wed, Mar 4, 2020 at 7:08 PM Ankit Jena <notifications@github.com> wrote:

[2020-03-04 18:41] guptavarun619 commented on #31
Please assign the issue and provide a deadline for the same.

[2020-03-04 18:42] coderwassananmol commented on #31
@guptavarun619 @meghaa105 @Samarjiit You guys can work together if you want.
There is no such deadline but I will be needing updates from all of you.

[2020-03-04 19:09] meghaa105 commented on #42
I am encountering some trouble in getting redis started through docker ,
can you please help?

On Wed, Mar 4, 2020 at 4:31 PM Ramakrishna Pattnaik <
notifications@github.com> wrote:

[2020-03-04 19:10] coderwassananmol commented on #42
What is the exact issue are you facing?

[2020-03-04 19:27] meghaa105 commented on #42
docker start redis

Error response from daemon: OCI runtime create failed: container with id exists: 5f7562b6448924200afd565050e1785f025c612dcd92994511241e0417666313: unknown
Error: failed to start containers: redis

[2020-03-05 00:00] Parikshit-Hooda opened #49 "Separate instructions for BUB setup"
Setting up of the project is slightly different for different OSes. Different sections containing setup instructions for different OSes is requested.

[2020-03-05 00:00] Parikshit-Hooda commented on #49
These sections need to be contained in the README.md itself.

[2020-03-05 00:01] Parikshit-Hooda opened #50 "Change Panjab to Punjab"
Change type at all locations in the repo from Panjab to Punjab

[2020-03-05 00:23] Parikshit-Hooda opened #51 "add 'request to contribute' section in readme"
To allow and receive requests and contributions, we should add 'contributing' section in the README.md. After writing necessary details there, we should redirect to CONTRIBUTING.md .

[2020-03-05 00:26] Parikshit-Hooda opened #52 "Add contribution templates"
Add 'PR_TEMPLATE' and 'ISSUE_TEMPLATE' to the repo for more structured contributions.

[2020-03-05 00:26] Parikshit-Hooda commented on #52
Consult [circuitverse templates](https://github.com/CircuitVerse/CircuitVerse/tree/master/.github)

[2020-03-05 00:28] Parikshit-Hooda opened #53 "search and fix all typos"
Search and fix all typos in the repo.

[2020-03-05 00:31] Parikshit-Hooda opened #54 "Add 'instructions for gssoc' section in README.md"
Add 'instructions for gssoc' file to the repo.
The intention of this issue is to solve the redundant queries asked about gssoc by the participants. For example, the working of 'taken' label. the guidelines to follow for contribution under gssoc.

[2020-03-05 00:34] Parikshit-Hooda opened #55 "Add FAQ section to BUB"
Add faq section to README.md . This would be an open issue for some time where new FAQs would be added to repo. After some FAQs(max 5), redirect to a FAQ.md file in the repo.

[2020-03-05 00:34] Parikshit-Hooda opened #56 "Design BUB logo"
Design logo for the project.

[2020-03-05 00:36] Parikshit-Hooda commented on #55
Things to address: topics to cover in FAQs, mentioning this issue as a point/place to propose new FAQs.

[2020-03-05 00:39] Parikshit-Hooda opened #57 "Search more sources for books"
Search more books sources from where they can be added to the Internet archive. at this time, supported : punjab digital library and google books.
The list of prospective sources could be added as 'Help Wanted' so that developers could develop bub to support the new sources for books too.

[2020-03-05 00:42] Parikshit-Hooda opened #58 "add LICENSE.md"
Add appropriate license file to the project.
Proposal : In the LICENSE file that is added, change copyright timeline from '20xx - **present**'

[2020-03-05 00:47] habeeba-naaz commented on #50
I am gssoc20 participant....I interested to do this

[2020-03-05 00:48] Parikshit-Hooda commented on #50
Hi @habeeba-naaz I have added the 'taken' label. Please proceed. When you submit the PR, do reference this issue so that we can track it better. Thanks.

[2020-03-05 01:09] Endowmissy commented on #40
I am interested,can I take this up??

[2020-03-05 01:20] habeeba-naaz commented on #50
Sure...thank you...changing documents do we need install anything or just change it and save

[2020-03-05 01:43] HarshCasper commented on #58
Can you please assign me this issue @Parikshit-Hooda I will be much obliged to work on this issue.

[2020-03-05 01:44] HarshCasper commented on #54
Can you please assign me this issue @Parikshit-Hooda I will be much obliged

[2020-03-05 01:45] HarshCasper commented on #52
Can you please assign me this issue @Parikshit-Hooda I will be much obliged

[2020-03-05 02:00] Parikshit-Hooda commented on #54
@HarshCasper done

[2020-03-05 02:01] Parikshit-Hooda commented on #52
@HarshCasper done

[2020-03-05 02:02] Parikshit-Hooda commented on #50
fork edit PR should do. Just make sure you cover all instances. Should I assign this to you?

[2020-03-05 02:16] habeeba-naaz commented on #50
Yes...please assign me

[2020-03-05 03:46] Parikshit-Hooda commented on #58
Sure. Go on. Talk on slack about what license file is needed. Suggest a license from your knowledge or find related projects and see if the license in their project applies to our case too. Thanks.

[2020-03-05 03:49] Parikshit-Hooda opened #59 "Produce YouTube videos for BUB"
I propose Youtube videos for BUB. Topics to cover:
- installing bub project
- using bub for uploading books
- running bub for development/contributions
- project outreach purposes

The videos could be screen recordings with voice-over. I am happy to help on the production front.

[2020-03-05 03:56] Parikshit-Hooda opened #60 "Add 'examples' section in README"
Add 'examples' section in README so that users/developers can understand how the software works via examples.

[2020-03-05 03:58] Parikshit-Hooda opened #61 "explain software architecture via block diagram"
I think we should include an image which shows the architecture of BUB via a block diagram. Goal: summarized view of software, better understandability.

[2020-03-05 05:41] coderwassananmol commented on #42
Looks like you already have a docker container running for redis service. Can you check all the running container using `docker ps -a` and see if it contains a service for redis?

[2020-03-05 05:45] coderwassananmol commented on #33
It's already taken and PR is being reviewed. Please take any other issue.

[2020-03-05 05:55] #34 closed

[2020-03-05 05:56] pundreek-saurabh commented on #57
I'll be happy to contribute on this issue.

[2020-03-05 06:01] Parikshit-Hooda opened #62 "Add badges to the repo"
Add appropriate badges to the repo for an overall good project.
Task:
- research different badges(services to be integrated) that can be applied. Check which of these can be implemented right away. Discuss on this issue's comments section with contributors to finalise the badges.
Example of badges:
![Capture1](https://user-images.githubusercontent.com/25405707/75952431-bd495980-5ed4-11ea-81e6-288a

[2020-03-05 06:01] Parikshit-Hooda commented on #57
@pundreek-saurabh please proceed.

[2020-03-05 06:03] Parikshit-Hooda commented on #50
Ok. Go forward.

[2020-03-05 07:10] coderwassananmol commented on #40
Feel free to submit a PR!

[2020-03-05 07:11] poojasrinivass commented on #44
I would like to work on this issue

[2020-03-05 07:13] poojasrinivass commented on #51
I would like to work on this issue

[2020-03-05 07:14] Parikshit-Hooda commented on #51
@poojasrinivass go ahead.

[2020-03-05 07:14] poojasrinivass commented on #61
I would like to work on this issue. @Parikshit-Hooda Could you please assign this issue to me

[2020-03-05 08:09] rkpattnaik780 commented on #44
Go ahead. Assigning it to you.

[2020-03-05 09:27] rkpattnaik780 commented on #44
Before working on this issue you can checkout issues in the [Queue Management](https://github.com/coderwassananmol/BUB2/milestone/1). This issue is dependent on #42 and #43 .

[2020-03-05 11:10] arghac14 commented on #62
Can i work on this?

[2020-03-05 13:18] nabeeljay commented on #53
I would like to work on this.

[2020-03-05 13:20] nabeeljay commented on #55
I would like to work on it.

[2020-03-05 13:22] samridhijain27 commented on #60
I would like to work on this. Can you assign this to me ?

[2020-03-05 13:44] Parikshit-Hooda commented on #62
yes, you can. I suppose you are a gssoc participant?

[2020-03-05 13:44] Parikshit-Hooda commented on #53
@nabeeljay please proceed

[2020-03-05 13:47] Parikshit-Hooda commented on #62
@arghac14 Please let me know if you aren't a gssoc participant. I haven't assigned to you issue yet. Without this info, I won't assign it to you.

[2020-03-05 13:48] Parikshit-Hooda commented on #61
Ok. Go ahead. @poojasrinivass

[2020-03-05 13:48] Parikshit-Hooda commented on #60
Ok @samridhijain27 . Go ahead.

[2020-03-05 13:49] Parikshit-Hooda commented on #55
@nabeeljay Please go ahead. I have assigned it to you.

[2020-03-05 14:39] arghac14 commented on #62
@Parikshit-Hooda yes I'm a gssoc participant, please assign me this

[2020-03-05 14:56] Parikshit-Hooda commented on #62
Ok @arghac14 Please proceed. I have assigned it to you.

[2020-03-05 15:22] CSElonewolf commented on #59
The issue looks interesting.I would like to work on this.With little help from your side dear mentor I would be able to complete it.Sir you can assign me the task.

[2020-03-05 15:34] Parikshit-Hooda commented on #59
Sure, go ahead. Assigned, Help asked is help received. @CSElonewolf

[2020-03-05 15:37] arghac14 commented on #62
@Parikshit-Hooda I'm thinking to add few general badges like
**Github licence**, **version**, **dependency**, **download count**, **forks count**, **stars count** **issues count**, **pull requests count** , **contributors count** etc and few community badges like maillist, slack(would require the links if this project has any community platforms) and few other badges.

If you have any other badge

[2020-03-05 21:45] FrozenGirl-spd commented on #50
Can i work on the issue?

[2020-03-06 00:19] Parikshit-Hooda commented on #53
@FrozenGirl-spd this issue is 'taken' right now. If this issue remains open(meaning that @nabeeljay ) fails to submit a PR in a reasonable amount of time, you can take it up.

[2020-03-07 07:35] CSElonewolf opened #66 "Improve the Responsiveness of the website https://bub2.toolforge.org/"
1. Correct the position of the Enter E-mail input field under the Upload Tab

2. Correct the position of the Card Section under the Queues Tab.

Please assign me this task

[2020-03-07 09:38] #38 closed

[2020-03-07 09:49] coderwassananmol commented on #62
These badges would do!

[2020-03-07 09:50] coderwassananmol commented on #40
@Endowmissy Any update?

[2020-03-07 09:59] coderwassananmol commented on #66
Thanks for reporting the issue. Please find the below scope for completing the issue:
1. Improving the homepage (including fields, header and footer) on mobile
2. Improving the queue page (cards and footer)

Assigning it to you. All the best.

[2020-03-07 10:05] #33 closed

[2020-03-07 10:05] coderwassananmol commented on #6
Anyone interested in working on this issue?

[2020-03-07 10:06] coderwassananmol commented on #7
Anyone interested on working on this issue?

[2020-03-07 10:07] coderwassananmol commented on #31
@guptavarun619 @meghaa105 @Samarjiit Any updates on this issue?

[2020-03-07 10:08] #39 closed

[2020-03-07 10:09] coderwassananmol commented on #41
@BhuwanChandra Any updates?

[2020-03-07 10:09] coderwassananmol commented on #42
@meghaa105 Any updates on the issue?

[2020-03-07 10:10] coderwassananmol commented on #44
@poojasrinivass Any updates on the issue?

[2020-03-07 10:26] guptavarun619 commented on #31
I'll get back to you with a mockup today for further assistance @coderwassananmol .

[2020-03-07 10:30] CSElonewolf commented on #66
It looks like the whole codebase for the site is on REACT. But I have no working experience on REACT.
But I can improve UI of the site completely using HTML,CSS,Bootstrap 4.
Shall I proceed?

[2020-03-07 12:05] Xtremilicious commented on #56
Would like to work on this!

[2020-03-07 15:38] meghaa105 commented on #42
I am working on it

On Sat, Mar 7, 2020 at 3:39 PM Anmol Wassan <notifications@github.com>
wrote:

[2020-03-07 15:51] rkpattnaik780 commented on #56
That would be great @Xtremilicious . Go ahead!

[2020-03-07 16:28] poojasrinivass commented on #44
Not yet. You can go ahead since I am stuck

[2020-03-07 17:24] Endowmissy commented on #40
Sorry,I haven't updated you,please check your dm in the slack channel

[2020-03-07 17:25] #62 closed

[2020-03-07 17:52] Xtremilicious commented on #56
Thanks for assigning to me! First of all. I need some info regarding the logo.
1. Any colour scheme you have in mind?
2. Any suggestions regarding the initial design?

[2020-03-07 20:35] BhuwanChandra commented on #41
working on this. should I make a PR when #40 will close?

[2020-03-07 21:30] coderwassananmol commented on #66
You don't need react for responsiveness. Go ahead! :)

[2020-03-07 21:30] coderwassananmol commented on #61
@poojasrinivass Any updates?

[2020-03-07 21:30] coderwassananmol commented on #60
@samridhijain27 Any updates?

[2020-03-07 21:36] coderwassananmol commented on #41
You can make a PR now. The PR can be updated at any point of time with the new route path.

[2020-03-07 21:37] coderwassananmol commented on #44
We are happy to help you. All you had to do was "ask".

[2020-03-07 21:39] coderwassananmol commented on #58
@HarshCasper Any updates on the issue?

[2020-03-08 05:11] Medha-B commented on #49
I would like to work on this. Kindly assign me the issue and also provide some guidance on how to get started.

[2020-03-08 05:50] ankitjena commented on #9
@vipuldcoder Are you working on this?

[2020-03-08 09:02] CSElonewolf commented on #66
@coderwassananmol hello sir I am done with the responsiveness...Please check the change in this site
[bub2-demo](https://bub2.netlify.com/)

![Screenshot_2020-03-08-14-28-54-184_com android browser](https://user-images.githubusercontent.com/51082429/76159760-a3647c80-6149-11ea-8a71-71e214554826.png)
![Screenshot_2020-03-08-14-28-30-512_com android browser](https://user-images.githubusercontent.com

[2020-03-08 12:30] HarshCasper commented on #58
I have added the LICENSE file. Kindly look into it @coderwassananmol @Parikshit-Hooda

[2020-03-08 13:18] HarshCasper commented on #52
Kindly look into the Pull Request I have made @Parikshit-Hooda @coderwassananmol

[2020-03-09 06:30] coderwassananmol commented on #42
@meghaa105 Please submit a PR latest by today.

[2020-03-09 08:39] Parikshit-Hooda commented on #55
@nabeeljay What's the progress on this issue? Please respond with the progress or we'll unassign you and make this issue up for grabs again. Thanks.

[2020-03-09 08:40] Parikshit-Hooda commented on #56
@Xtremilicious Go crazy. We don't have any logo right now, so what you design will obviously require iterations. Also, please respond with the progress or we'll unassign you and make this issue up for grabs again. Thanks.

[2020-03-09 08:40] Parikshit-Hooda commented on #57
@pundreek-saurabh  What's the progress on this issue? Please respond with the progress or we'll unassign you and make this issue up for grabs again. Thanks.

[2020-03-09 08:44] Parikshit-Hooda commented on #58
@HarshCasper Why have you used this license?

[2020-03-09 08:44] samridhijain27 commented on #60
I am working on that one. fell sick . So thats why delayed. Will update you by EOD.

[2020-03-09 08:45] Parikshit-Hooda commented on #59
@CSElonewolf  What's the progress on this issue? Please respond with the progress or we'll unassign you and make this issue up for grabs again. Thanks.

[2020-03-09 08:50] Parikshit-Hooda commented on #9
@vipuldcoder Are you working on this?

[2020-03-09 08:51] preeti13456 commented on #61
Interested

[2020-03-09 08:52] Parikshit-Hooda commented on #26
@meghaa105 Are you interested in working on this issue? Please have a discussion here to understand what is needed to be done to modularise the application. Thanks. If you are interested, please comment here and we'll assign it to you.

[2020-03-09 08:54] Parikshit-Hooda commented on #40
The PR for this issue is merged. I will close this issue now. @Endowmissy Please second this.

[2020-03-09 08:54] #40 closed

[2020-03-09 08:55] Parikshit-Hooda commented on #61
@preeti13456 assigned. Please update us on your own after 3 days or submit a PR, whichever is sooner. Thanks.

[2020-03-09 08:56] Parikshit-Hooda commented on #41
@BhuwanChandra Please respond.

[2020-03-09 09:03] Parikshit-Hooda commented on #42
seconded.

[2020-03-09 09:06] samridhijain27 commented on #60
Thanks for reassigning this to me!

[2020-03-09 09:08] Parikshit-Hooda commented on #51
@poojasrinivass Please update us within by tonight or we'll open this issue up for grabs again. If you need help, do ask us.

[2020-03-09 09:09] Parikshit-Hooda commented on #53
@nabeeljay What's the progress on this issue. Please update us by tonight or we'll open this issue up for grabs again. If you need help, do ask us.

[2020-03-09 09:09] Parikshit-Hooda commented on #54
@HarshCasper  Please update us by tonight or we'll open this issue up for grabs again. If you need help, do ask us.

[2020-03-09 09:18] rkpattnaik780 commented on #31
Fixed by #68 .

[2020-03-09 09:18] #31 closed

[2020-03-09 09:53] poojasrinivass commented on #51
I'm working on it. Can you please give me time till tomorrow to make a PR?

[2020-03-09 11:25] Endowmissy commented on #40
oops, just seeing this now.

[2020-03-09 11:49] CSElonewolf commented on #59
Sorry I unassigned myself.Because untill and unless the issue #66 is solved the youtube video can't be recorded.As a lot of buttons gets misplaced and there is a footer issue when the site is opened :(

[2020-03-09 11:52] Xtremilicious commented on #56
@Parikshit-Hooda Sure, here's the design I made till now.

![draft1](https://user-images.githubusercontent.com/47635607/76210646-89e73180-622a-11ea-9355-3db7d3a116f0.png)
![draft2](https://user-images.githubusercontent.com/47635607/76210650-8c498b80-622a-11ea-9893-a1f066b37146.png)

[2020-03-09 13:47] HarshCasper commented on #54
@Parikshit-Hooda I will complete it by midnight. Due to some College Work, I was going under heavy workload. I will finish the Issue requirements today.

[2020-03-09 15:26] rkpattnaik780 commented on #56
This looks good to me! I will personally prefer the second logo. Seeing #68 , I feel we are going to use a lot of Blue. Any opinions @Parikshit-Hooda @coderwassananmol ?

[2020-03-09 16:08] Xtremilicious commented on #56
@Parikshit-Hooda @rkpattnaik780 @coderwassananmol Let me know your suggestions:)

[2020-03-09 19:11] BhuwanChandra commented on #41
I'm working on it, I will make a PR by tomorrow.

[2020-03-10 16:51] pundreek-saurabh commented on #57
Hey there !! Currently I'm in the region with almost no internet coverage
so I'll not be able to contribute anything in this project till 16th of
march . Then after I'll be available for it upto last date  . I'm so sorry
for the inconvenience . Please consider my situation and provide me
confirmation regarding this .

On Mon, 9 Mar 2020, 14:11 Parikshit Hooda, <notifications@github.com> wrote:

[2020-03-10 17:37] #50 closed

[2020-03-11 04:08] kichloo commented on #47
@coderwassananmol I would like to take up this issue and fix it, though I am a beginner.

[2020-03-11 14:04] rajat2502 opened #76 "Add CODE_OF_CONDUCT.md file"
Add a new file namely CODE_OF_CONDUCT.md that contains the standards, scope and other responsibilities like reporting violations and conflict resolution.

For reference see: https://github.com/tensorflow/tensorflow/blob/master/CODE_OF_CONDUCT.md

[2020-03-11 14:07] rajat2502 commented on #58
I guess this issue is already fixed in #70

[2020-03-11 14:13] rajat2502 opened #77 "Add a issue template file"
Add a new file namely issue_template.md.
This file should be located as `.github/ISSUE_TEMPLATE/issue_template.md`.

For any guide or help please refer to https://help.github.com/en/github/building-a-strong-community/manually-creating-a-single-issue-template-for-your-repository

[2020-03-11 17:22] coderwassananmol opened #78 "Change the UI according to the new design"
A .fig file resides insides public folder. New UI has to be made in accordance with that.

[2020-03-11 17:24] coderwassananmol opened #79 "Wireframe/design for stats page"
We have a wireframe for the homepage. A similar design pattern has to follow for the /stats page as well.
@guptavarun619 You might wanna take this up.

[2020-03-11 17:25] guptavarun619 commented on #79
Sure, but can get a little bit information about the page?

[2020-03-11 19:45] coderwassananmol commented on #79
Sure. This route displays statistical information for BUB2.
1. The queue for Google Books (active jobs, waiting jobs etc.)
2. The queue for Panjab Digital Library
3. Number of books uploaded to the Internet Archive
Currently, the UI is very simple with two cards.
Moving forward, we can keep the cards, if you want. But I am expecting same background colour as of homepage, compatible card background

[2020-03-11 19:59] guptavarun619 commented on #79
Okay I'll get into this ASAP. please assign me this issue. P.S. Is "nunito" font acceptable "roboto" is used everywhere so it's kind of repetitive. Thanks for such details.

[2020-03-11 20:03] Parikshit-Hooda opened #80 "Include LICENSE section in README.md"
Include LICENSE section in README.md . Copy the 'Contributing' section in the README.md for the LICENSE as well.

[2020-03-11 20:05] coderwassananmol commented on #79
There has to be consistency with the fonts project-wide. I am looking for Lato/Raleway/Montserrat for the headings. Roboto/Fira Code/Open Sans for the normal texts.

[2020-03-11 20:05] poojasrinivass commented on #80
I would like to work on this issue.

[2020-03-11 20:06] #58 closed

[2020-03-11 20:06] poojasrinivass commented on #78
I would like to work on this isuue

[2020-03-11 20:08] coderwassananmol commented on #78
Go ahead! :)

[2020-03-11 20:09] Parikshit-Hooda commented on #59
@CSElonewolf will try to resolve #66 and then we'll see to this.

[2020-03-11 20:21] Parikshit-Hooda commented on #60
@samridhijain27 updates?

[2020-03-11 20:25] Parikshit-Hooda commented on #56
the second one is better because the blue book will align with wikimedia's color scheme? We'll need a favicon as well. Could you design a similar one(and minimalistic) design for the favicon as well? If yes, please open an issue for the favicon logo design.

[2020-03-11 20:30] Parikshit-Hooda commented on #53
@FrozenGirl-spd do you want to take up this issue?

[2020-03-11 20:30] habeeba-naaz commented on #55
I am interested to work on this...please assign me

[2020-03-11 20:32] Xtremilicious commented on #56
@Parikshit-Hooda I'd love to design a favicon as well. Kindly finalise the design for this issue and instruct me how to close this one :)

[2020-03-11 20:38] coderwassananmol commented on #56
Thanks for your effort. The design looks great. Few suggestions:
1. Include the name "Book Uploader Bot" in your logo.
2. Have a "Powered by: " footer with two logos:
a) https://wikitech.wikimedia.org/wiki/File:Toolforge_logo.svg
b) https://commons.wikimedia.org/wiki/File:Wikimedia_Foundation_Logo.png
3. The robot in the back doesn't seem right. Can we skip it or think of something else?

[2020-03-11 21:21] Xtremilicious commented on #56
Thanks for the suggestions. Here is the logo after the changes :)
![BUB](https://user-images.githubusercontent.com/47635607/76465654-17ce4280-640c-11ea-937c-26b26a1b2a35.png)

[2020-03-12 03:04] Parikshit-Hooda opened #81 "write unit tests"
write unit tests to make sure everything is good. the tests should run for every PR.
things to consider - []the testing framework to use
[]the code blocks to cover with tests

[2020-03-12 04:45] shreyakapoor08 commented on #55
Hey, I want to work on this issue

[2020-03-12 05:23] shreyakapoor08 commented on #76
Hey, can i take up this issue?

[2020-03-12 05:24] shreyakapoor08 commented on #60
hey, can i take up this issue?

[2020-03-12 05:26] rajat2502 commented on #76
@shreyakapoor08 Sure!!! Go ahead with the issue.

[2020-03-12 06:20] samridhijain27 commented on #60
I am working on this issue, facing bit of time constraints. Will try to close this ASAP. Sorry about the delay.

[2020-03-12 11:51] adityabisoi commented on #77
I can do this Please assign it to me.

[2020-03-12 16:50] rajat2502 commented on #77
@adityabisoi Yeah Sure, Go Ahead!!!

[2020-03-13 15:57] sharmakeshav10 commented on #80
@Parikshit-Hooda I would like to work on this issue. Please assign me this.

[2020-03-13 16:00] sharmakeshav10 commented on #53
I would like to work on this issue. @Parikshit-Hooda

[2020-03-13 19:16] dvitiarora commented on #6
I would like to work on this issue.

[2020-03-14 07:50] rkpattnaik780 commented on #56
Looks good to me, you can raise a PR I guess.

[2020-03-14 08:36] Kuljeet-123 commented on #80
@Parikshit-Hooda  I would love to work on this issue ....can you please assign me this.

[2020-03-14 11:14] Parikshit-Hooda commented on #53
@sharmakeshav10  okay. Just go through the entire repo, find the typos(you may use a software, like Grammarly, to assist in finding language errors), fix them and raise a PR detailing all the typos you have fixed.
*Don't change Panjab to Punjab* while you fix the typos.

[2020-03-14 11:18] Parikshit-Hooda commented on #56
@Xtremilicious To close this issue, I think that you should place this logo on the README.md top, like https://github.com/CircuitVerse/CircuitVerse/blob/master/README.md and raise a PR. For the favicon, you should simplify the current design so that it is distinct and neat when we indeed use it as a favicon. @rkpattnaik780 I think we should open a separate issue to locate the logo on the app websi

[2020-03-14 11:21] Parikshit-Hooda commented on #80
@sharmakeshav10 @Kuljeet-123 @poojasrinivass whoever raises the PR first, wins. I am going to assign all three of you to this. A bit rash but RACE TO THE FINISH!

[2020-03-14 11:40] Kuljeet-123 commented on #80
@Parikshit-Hooda  I have created the PR....Please review it and merge it.

[2020-03-14 16:02] Xtremilicious commented on #56
@Parikshit-Hooda I'll do a PR soon. Kindly open another issue for the favicon and assign it to me so that I can submit the favicon as well :)

[2020-03-14 18:44] dvitiarora commented on #55
I am interested in working on this issue. Please assign it to me.

[2020-03-14 18:51] dvitiarora commented on #57
Hey, I am interested in working on this.

[2020-03-15 01:02] Parikshit-Hooda commented on #57
@dvitiarora go ahead. please update us within 3 days.

[2020-03-15 01:06] Parikshit-Hooda commented on #55
@habeeba-naaz make a FAQ.md . @habeeba-naaz @shreyakapoor08 @dvitiarora please discuss all the FAQs here before going for the PR. I am gonna assign all three of you. Also, do update us on the progress within 3 days or I assign all three of you.

[2020-03-15 01:07] Parikshit-Hooda commented on #80
@Kuljeet-123 ok

[2020-03-15 01:08] Parikshit-Hooda commented on #80
@Kuljeet-123 please mention this issue in the PR so that we can refer to it. this will help in maintaining a chain. Just do something like 'fixes #80' in the PR comments. THanks.

[2020-03-15 01:11] habeeba-naaz commented on #55
Sure...thank you for assigning

[2020-03-15 01:20] Parikshit-Hooda commented on #80
@Kuljeet-123 please raise a PR to this repo. The current PR is merging from your 'LICENSE' branch to your 'develop' branch only. You need to merge it into your 'develop' branch and then raise a PR to merge your 'develop' branch into this repo's 'develop' branch. Thanks.

[2020-03-15 01:22] Parikshit-Hooda opened #85 "Bulk upload feature [Admin only]"
Currently, only one books can be uploaded in one go. We should change it to multiple books in one go, to save time.

[2020-03-15 03:20] shreyakapoor08 commented on #55
got it

[2020-03-15 07:26] Kuljeet-123 commented on #80
@Parikshit-Hooda  I have raised the PR according to your guidelines...Please review it.

[2020-03-15 08:01] Parikshit-Hooda commented on #80
@Kuljeet-123 got it. have approved, waiting for the second review. will merge when done. Thanks for this!

[2020-03-15 08:02] Kuljeet-123 commented on #80
@Parikshit-Hooda  tysm .

[2020-03-15 08:08] Parikshit-Hooda opened #87 "add favicon file"
design and add favicon file.

[2020-03-15 08:13] dvitiarora commented on #57
Okay, thank you for assigning.

[2020-03-15 08:16] dvitiarora commented on #55
Okay, thank you for assigning.

[2020-03-15 09:14] dvitiarora commented on #57
@Parikshit-Hooda can we upload articles, journals, thesis, etc. through BUB. Like, should I include sources where articles and journals can be found and added to the Internet Archive?

[2020-03-15 13:36] habeeba-naaz commented on #55
**What is Book Uploader Bot?**
 A Book Uploader Bot transfers documents from public libraries such as Google Books, and Punjab Digital Library etc to Internet Archive.
**What is Wikimedia Tool Labs?** -Please answer
**What are the Prerequisites?**
 NodeJs,Docker ToolBox,Redis
**What is the purpose of NodeJs,Docker ToolBox and Redis in this project?** Please answer
**What is the Tech stack of this

[2020-03-15 13:41] shreyakapoor08 commented on #55
Is the website paid?
Why Book uploader bob is needed?

these can also be added

[2020-03-15 14:27] dvitiarora commented on #55
1. Can I upload my own book?
Ans: (*please tell if this is allowed or not.)
Yes, it can be done by uploading your book to google books and then provide the link.

2. Can I delete or undo an upload?
Ans: (*Please answer.)

3. Which languages and what categories of books can be uploaded?
Ans: There is no restriction on language. Books of all languages are supported and can be uploaded using BUB (*pl

[2020-03-15 14:29] ishukhanchi commented on #87
Interested.

[2020-03-15 18:49] #77 closed

[2020-03-16 08:09] rkpattnaik780 commented on #56
@Xtremilicious , the issue for favicon is #87 .

[2020-03-16 08:10] rkpattnaik780 commented on #87
This issue should be solved in accordance with #50.

[2020-03-16 10:58] #56 closed

[2020-03-16 13:26] shreyakapoor08 commented on #54
@Parikshit-Hooda can i work on this?

[2020-03-16 14:06] Xtremilicious commented on #87
@rkpattnaik780 Kidnly assign me. Thanks :)

[2020-03-16 18:02] shreyakapoor08 commented on #76
@rajat2502 hey I have raised the PR. Kindly check and let me know if there is any corrections.

[2020-03-17 09:54] kichloo commented on #54
@Parikshit-Hooda Being a beginner, can I work on this?

[2020-03-17 10:01] kichloo commented on #26
@Parikshit-Hooda Being a beginner, can I take this issue? I would also like to discuss about how to go about it.

[2020-03-17 10:03] kichloo commented on #6
@coderwassananmol I would like to work on it but I am a beginner.

[2020-03-17 12:47] Kuljeet-123 commented on #60
@shreyakapoor08 can I work on this issue.

[2020-03-17 13:28] #41 closed

[2020-03-17 13:34] coderwassananmol commented on #66
Issue is up for grab again!

[2020-03-17 13:35] coderwassananmol commented on #81
Duplicate of #9

[2020-03-17 13:35] #81 closed

[2020-03-17 13:36] #79 closed

[2020-03-17 13:36] coderwassananmol commented on #78
@poojasrinivass Any update?

[2020-03-17 13:37] coderwassananmol commented on #42
Issue is up for grab again!

[2020-03-17 13:37] #51 closed

[2020-03-17 13:38] coderwassananmol commented on #53
Issue is up for grab again!

[2020-03-17 13:39] coderwassananmol commented on #54
@shreyakapoor08 and @kichloo Please submit a PR. The one who submits it first, shall be considered.

[2020-03-17 13:41] coderwassananmol commented on #57
These are good sources. Can you also verify which of them have public APIs available?

[2020-03-17 13:42] coderwassananmol commented on #60
Issue is up for grab again!

[2020-03-17 13:42] coderwassananmol commented on #61
Issue is up for grab again!

[2020-03-17 13:50] shreyakapoor08 commented on #60
can I work on this issue? @coderwassananmol

[2020-03-17 13:53] dvitiarora commented on #57
Okay, can you provide any hints regarding how to check if public APIs are available for a particular website or not?

[2020-03-17 14:24] kichloo commented on #54
@coderwassananmol The instructions are to be added to the README.md, as mentioned?

[2020-03-17 14:31] Parikshit-Hooda commented on #54
@kichloo i recommend making a separate file in the project root directory called something like 'GSSOC_INSTRUCTIONS.md'. This will help us keep readme short and concise and we can later remove the instructions file at our will.

[2020-03-17 14:34] Kuljeet-123 commented on #60
@coderwassananmol @shreyakapoor08 I'm a GSSOC'20 participant I want to work on this issue.

[2020-03-17 14:34] kichloo commented on #54
@Parikshit-Hooda Thanks for the input. And I want to just ask one more question. Should I add the FAQs from GSSOC website though it contains some points before selection also.

[2020-03-17 15:09] kichloo commented on #54
@Parikshit-Hooda Created instructions.md!

[2020-03-17 17:42] shreyakapoor08 commented on #54
@Parikshit-Hooda should I make a separate PR for it ?

[2020-03-17 20:11] Xtremilicious commented on #87
Kindly have a look. Removed the texts and generated different sizes for different browsers and devices:

<img width="839" alt="ScreenShot_20200318013557" src="https://user-images.githubusercontent.com/47635607/76897217-53a85280-68b9-11ea-84c4-f481b32e5ed5.png">

![android-chrome-192x192](https://user-images.githubusercontent.com/47635607/76897281-76d30200-68b9-11ea-962a-920a9cd95126.png)

Let me k

[2020-03-18 07:15] rkpattnaik780 commented on #87
@Xtremilicious it looks good to me

[2020-03-18 11:14] #76 closed

[2020-03-18 12:13] BhuwanChandra commented on #45
@coderwassananmol I would like to work on this issue. please assign this to me.

[2020-03-18 13:35] shreyakapoor08 commented on #55
Should I start working on it if you approve?

[2020-03-18 18:02] dulcetsoul commented on #87
Is this issue closed?

[2020-03-18 19:12] BhuwanChandra commented on #7
@coderwassananmol I would like to work on this issue. please assign this to me.

[2020-03-18 19:55] Xtremilicious commented on #87
Cool. kindly guide me where to put the icons (in which directory). Thanks.

[2020-03-19 05:59] Parikshit-Hooda commented on #87
@Xtremilicious please do. put the faivcon file in assets directory and link to it at appropriate places. thanks1

[2020-03-19 06:01] Parikshit-Hooda commented on #80
@Kuljeet-123 thanks.

[2020-03-19 06:01] #80 closed

[2020-03-19 06:03] Parikshit-Hooda commented on #78
I think this is abandoned by pooja. will assign to someone else, if a situation arises.

[2020-03-19 06:07] Parikshit-Hooda commented on #60
@Kuljeet-123 go ahead, will assign it to you.

[2020-03-19 06:16] Parikshit-Hooda commented on #55
answer to:
1. if an appropriate license is attached to the book which allows it to be archived(which doesn't allow copyright infringement suits, etc.)
2. archives are supposed to be read-only, and deleting is a 'write' operation, so i think no.
4. open an issue on this repo.
@coderwassananmol please approve.

[2020-03-19 06:22] Parikshit-Hooda commented on #54
@shreyakapoor08 @kichloo kichloo has made a PR already. I have posted a review on his PR. If the PR is abandoned, you can raise a PR(follow up on this issue in 3 days, thanks.)

[2020-03-19 06:25] Parikshit-Hooda commented on #52
@coderwassananmol why do we have ISSE_TEMPLATE and .github/ISSUE_TEMPLATE in the root. This looks wrong to me. @HarshCasper please nest all issue_templates in the .github directory itself and make a PR.

[2020-03-19 06:26] Parikshit-Hooda commented on #49
@Medha-B go ahead.

[2020-03-19 06:27] Parikshit-Hooda commented on #47
@kichloo attempt it! we are here to help.

[2020-03-19 06:27] Parikshit-Hooda commented on #47
Let me know if you're interested and i'll assign it to you/

[2020-03-19 06:28] Parikshit-Hooda commented on #45
@BhuwanChandra go ahead. assigned.

[2020-03-19 06:39] kichloo commented on #47
@Parikshit-Hooda I only use Github to make these PRs and do the required changes (not Git Desktop or Git Bash), so if all this can be done using it, I am ready to work on the issue!

[2020-03-19 06:55] Kuljeet-123 commented on #60
@Parikshit-Hooda I have One doubt do I have to show example of how to upload the books or I have to show all books uploaded through the BUB2.

[2020-03-19 07:18] Parikshit-Hooda commented on #60
the former one. To help people know how its done.

[2020-03-19 07:38] kichloo commented on #53
@Parikshit-Hooda @coderwassananmol I can take us the issue!

[2020-03-19 07:48] FrozenGirl-spd commented on #53
Yes! I want to work on this issue. Can you please assign this to me?!! @Parikshit-Hooda

[2020-03-19 08:09] habeeba-naaz commented on #55
Thank you @Parikshit-Hooda

[2020-03-19 09:37] poojasrinivass commented on #78
Sorry for the delay. I am working on it. But I will need a little more time since I am learning as I work. You can assign it to someone else if an extension is not possible.

[2020-03-19 11:09] shreyakapoor08 commented on #53
@Parikshit-Hooda can I work on this issue ?

[2020-03-19 15:37] Parikshit-Hooda commented on #26
this issue is up for grabs.

[2020-03-19 15:38] Parikshit-Hooda commented on #53
@shreyakapoor08 we're gonna remove the 'gssoc' label(meaning this issue can't be graded). so, it's wise to find a different issue. please check 19 march's slack messages on the gssoc group.

[2020-03-19 15:39] Parikshit-Hooda commented on #78
@poojasrinivass you can keep working on this issue. i am going to unassing you though so that others can attempt this issue, as well.

[2020-03-19 15:41] kichloo commented on #53
@Parikshit-Hooda But I submitted a PR for the issue yesterday.

[2020-03-19 15:43] Parikshit-Hooda commented on #53
Hi. please refer to this issue in your PR, by midnight.

[2020-03-19 15:44] Parikshit-Hooda commented on #55
raise a PR by midnight please.

[2020-03-19 15:44] Parikshit-Hooda commented on #55
combine all the questions in this issue.

[2020-03-19 15:46] habeeba-naaz commented on #55
Okay

[2020-03-19 17:24] kichloo commented on #53
@Parikshit-Hooda Done.

[2020-03-19 18:14] BhuwanChandra commented on #78
@coderwassananmol I would like to work on this issue. please assign this to me.

[2020-03-19 18:20] BhuwanChandra commented on #45
@coderwassananmol Is there any server-side endpoint to fetch data for table or I need to create the endpoint accordingly?

[2020-03-19 22:22] #57 closed

[2020-03-20 05:26] #53 closed

[2020-03-20 09:38] meghaa105 commented on #26
I am interested

On Thu, Mar 19, 2020 at 9:07 PM Parikshit Hooda <notifications@github.com>
wrote:

[2020-03-20 15:12] Kuljeet-123 commented on #60
@Parikshit-Hooda I have raised the PR...Please review it and merge it.

[2020-03-21 15:38] coderwassananmol commented on #45
No. There is no server-side endpoint as of now. You can create it.

[2020-03-21 16:58] abhu-A-J commented on #61
@coderwassananmol I'm interested in the issue. Do we have the architecture details somewhere so that I make a block diagram out of it?? I'm not versed with the project.

[2020-03-21 18:06] BhuwanChandra commented on #45
I am having trouble with docker and redis, getting these errors

[code]
can you tell me how to fix these errors?
since, I have created the table but not able to fetch the data due to these error.

[2020-03-21 21:20] coderwassananmol commented on #42
Completed via [cb76e03](https://github.com/coderwassananmol/BUB2/commit/cb76e03a7c1f8673a878a6d657919e987b6969be)

[2020-03-21 21:20] #42 closed

[2020-03-21 21:22] coderwassananmol commented on #47
Completed via [cb76e03](https://github.com/coderwassananmol/BUB2/commit/cb76e03a7c1f8673a878a6d657919e987b6969be)

[2020-03-21 21:22] #47 closed

[2020-03-22 09:54] #87 closed

[2020-03-22 10:45] Xtremilicious commented on #78
@coderwassananmol @Parikshit-Hooda I would like to tackle this problem :) I'm really passionate about design.

[2020-03-22 10:51] Xtremilicious commented on #66
Interested!

[2020-03-22 13:49] robot-with-feelings commented on #78
If the issue is still open, I'd like to work on this if you want it to be solved using css.

[2020-03-22 16:27] coderwassananmol commented on #78
Hi guys, feel free to submit a PR! You may collaborate if you want to.

[2020-03-22 16:37] coderwassananmol commented on #66
Assigned to you!

[2020-03-22 16:40] coderwassananmol commented on #45
Can you share your `redishost` and `redisport` environment variable? Can you verify if your docker container containing the redis service is running properly?

[2020-03-22 17:01] BhuwanChandra commented on #45
redishost=docker
redisport=6379

and this is the docker-compose.yml file:
[code]

[2020-03-22 18:16] coderwassananmol commented on #61
Our front-end is powered with React and Next.js. For server side, we use Node.js. For Queue Management system, we use Bull which internally calls out Redis server to store information. Currently, we support two libraries, PDL and GB. For each library, we have separate consumer and producer. There is another service, i.e., the email service that sends email upon success/failure of the uploading of

[2020-03-23 09:42] BhuwanChandra commented on #45
@coderwassananmol there are the same ids for two different jobs like the first job of pdl-queue and the first job of gb-queue has id 1, 2nd, 3rd... has 2, 3... etc.
so, how to link them with jobid parameter?

[2020-03-23 11:33] #60 closed

[2020-03-23 11:34] Parikshit-Hooda commented on #6
@kichloo do you want to work on this? Please let us know so that we can help. This is a good issue for you, in my opinion.

[2020-03-23 12:04] Parikshit-Hooda commented on #6
It's not related to git-bash per se. When you run the app via 'npm run dev' or 'npm run start', you should get these warnings.

[2020-03-23 12:11] Parikshit-Hooda opened #96 "Add 'open book publishers' to 'choose the library'"
Add the 'open book publishers' option to 'choose the library' dropdown. The concerned dropdown is available on the website home page 'https://bub2.toolforge.org/' / 'http://localhost:5000/ '

[2020-03-23 12:18] Parikshit-Hooda opened #97 "Update 'template id' for Open Book Publishers"
Study the API structure of Open Book Publishers(obp) and update the templated input(point 2 in website).

Find the [templated obp API here](https://github.com/coderwassananmol/BUB2/blob/develop/HELP_WANTED.md#2-open-book-publishers)

The referred PR should result in integration of the 'id template' for obp.

[2020-03-23 14:47] Aman-Codes commented on #96
I am a GSSOC participant and I would like to work on this issue. Please assign me this issue.

[2020-03-23 15:14] Xtremilicious commented on #78
@coderwassananmol Kindly assign each one of us a particular component, or else there would be overlapping in our work.

[2020-03-23 17:00] ankitjena commented on #96
Sure @Aman-Codes , Go ahead

[2020-03-23 17:03] ankitjena opened #99 "Implement upload queue logic for Open Book Publishers library"
## Background
Currently queue logic for two existing libraries are implemented. We need to add upload logic for [Open Book Publishers library](https://www.openbookpublishers.com/).

## TODO
- Investigate how to implement book upload from OBP library
- Implement the queue logic(provider and consumer) for OBP library.

Look at [https://github.com/coderwassananmol/BUB2/tree/develop/bull](https://gith

[2020-03-23 20:14] coderwassananmol commented on #78
@Xtremilicious You can work on the home page design.
@robot-with-feelings You can work on the header and footer design. You can also take up design for queue.
@BhuwanChandra You can take up the stats page.

[2020-03-23 21:38] Xtremilicious commented on #78
Got it!

[2020-03-24 05:39] abhu-A-J commented on #61
@coderwassananmol It is a lot harder than I thought. I think I'll look at some easier issues to get started. You can assign someone lse this issue

[2020-03-24 06:48] Bhanu-mbvg commented on #97
Hey, Can I work on this issue?

[2020-03-24 09:19] dipanshuraz commented on #97
assign me

[2020-03-24 09:20] dipanshuraz commented on #7
I am interested @coderwassananmol

[2020-03-24 17:43] #66 closed

[2020-03-24 17:59] Parikshit-Hooda commented on #97
@dipanshuraz @Bhanu-mbvg both of you go ahead. The first one to raise the PR gets the merege.

[2020-03-24 18:02] Parikshit-Hooda commented on #26
@meghaa105 go ahead.

[2020-03-24 19:33] Xtremilicious commented on #78
@Parikshit-Hooda kindly re-open this issue since this is for a complete redesign for BUB.

[2020-03-25 04:35] #96 closed

[2020-03-25 06:22] Xtremilicious commented on #78
@coderwassananmol kindly re-open this issue

[2020-03-25 16:03] Parikshit-Hooda opened #102 "Handle 'UnhandledPromiseRejection' warning during 'npm run start(dev)'"
After booting the redis using 'docker start redis' , many UnhandledPromiseRejection warnings are logged.
Proposal: Fix them.

[2020-03-25 16:08] #55 closed

[2020-03-25 16:14] Parikshit-Hooda opened #103 "implement issue templates"
use https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository and implement issue templates.
end result: https://github.com/CircuitVerse/CircuitVerse/issues/new/choose a menu like this.

[2020-03-25 16:39] ankitjena commented on #7
Go ahead @dipanshuraz . Please make PR

[2020-03-25 18:39] kichloo commented on #102
@Parikshit-Hooda I can work on this issue. But, pl give the file which is to be modified.

[2020-03-25 18:41] kichloo opened #104 "Modifications in FAQ.md"
@Parikshit-Hooda The file contains text in an unformatted way and needs modification. Can I pl work on this easy issue?

[2020-03-25 18:42] Parikshit-Hooda commented on #104
this won't be under gssoc.

[2020-03-25 18:44] Parikshit-Hooda commented on #102
@kichloo figure it out yourself. you'll learn. you should get a hint of code to fix when you run the said script(npm run ....)

[2020-03-26 04:13] rkpattnaik780 opened #106 "Configure husky to lint staged changes."
Currently there are no pre-commit hooks to pretify the code. It will be good if the project can have a `husky` and `prettier` configured such that the staged files will get prettified before being commited.

[2020-03-26 04:23] #104 closed

[2020-03-26 10:17] coderwassananmol commented on #45
Yes, we can use bookid as a parameter. Or otherwise, we can use /queue/list/gb/:jobid to show for google books and similarly for pdl

[2020-03-26 10:22] #43 closed

[2020-03-26 10:22] coderwassananmol commented on #44
@BhuwanChandra assigning this issue to you.

[2020-03-26 10:23] coderwassananmol commented on #44
Please comment on this issue, so that I can assign it

[2020-03-26 16:29] ishukhanchi commented on #103
Please assign this one to me.
Interested.

[2020-03-26 17:11] Parikshit-Hooda commented on #99
@ankitjena please explain this issue more. things that could be included: files to add/edit, necessary results, checking for bugs.

[2020-03-26 17:16] Parikshit-Hooda opened #109 "add case to implement OBP in components/books.js"
Update components/books.js to integrate 'open book publishers' library.
Just like case for google books and panjab digital library are implemented, do for open book publishers as well.
Note/Result: The necessary output is the same as the implementation for the case of 'gb' and 'pn'.
Required: Test this feature heavily on local machines/ error handling.

More information can be asked on this thread

[2020-03-26 17:20] Parikshit-Hooda commented on #97
@dipanshuraz @Bhanu-mbvg please update us. This is an easy issue.

[2020-03-27 01:48] BhuwanChandra commented on #45
Ok then i will use /queue/list/q_name/:jobid for this

[2020-03-27 01:50] BhuwanChandra commented on #44
@coderwassananmol assign this issue to me.

[2020-03-27 19:22] #78 closed

[2020-03-28 05:05] jamesjose03 opened #110 "Add TOC to README.md"
## Description
The README is a long one. Adding a Table of Contents will make it easier for navigating through it.
This is what I am proposing to implement.

## Screenshot:
![image](https://user-images.githubusercontent.com/31133182/77815300-a49d1f80-70df-11ea-97e8-e415bd38ce19.png)

[2020-03-28 05:06] jamesjose03 commented on #110
I am a GSSOC participant. I would like to work on this issue

[2020-03-28 05:07] jamesjose03 commented on #106
@rkpattnaik780 @Parikshit-Hooda I would like to work on this issue.

[2020-03-28 05:09] Parikshit-Hooda commented on #106
@jamesjose03 go ahead. Please update us within 3 days, here, on the progress

[2020-03-28 05:09] jamesjose03 commented on #106
Okay thanks

[2020-03-28 05:14] BhuwanChandra commented on #109
@Parikshit-Hooda I would like to work on this. please assign this to me

[2020-03-28 13:14] Parikshit-Hooda commented on #109
@BhuwanChandra go ahead.

[2020-03-29 08:35] BhuwanChandra commented on #109
@Parikshit-Hooda can you tell me, where I will get the info of a particular book in OBP APIs.

[2020-03-29 14:37] Parikshit-Hooda commented on #109
https://github.com/coderwassananmol/BUB2/blob/develop/HELP_WANTED.md check this for more.

[2020-03-29 18:59] #44 closed

[2020-03-29 18:59] #45 closed

[2020-03-29 19:37] Parikshit-Hooda opened #112 "auto open of browser window when bub2 boots"
When the project boots up using 'npm run start' or 'npm run dev', it should automatically open a browser tab for the project.
Note: Please enquire if this is actually done already(I haven't experienced this feature). Also, check for the easiest, stable, and requires 'no dependency' way to do this..

[2020-03-30 00:45] Parikshit-Hooda commented on #103
@ishukhanchi please update.

[2020-03-30 04:31] BhuwanChandra commented on #112
@Parikshit-Hooda I would like to work on this issue. please assign this to me.

[2020-03-30 04:36] Parikshit-Hooda commented on #112
@BhuwanChandra go ahead

[2020-03-30 04:37] #106 closed

[2020-03-30 13:26] ishukhanchi commented on #103
Sir, sorry for the delay. I'm on this.

[2020-03-30 15:19] Parikshit-Hooda commented on #103
please link this issue in the pr.

[2020-03-30 20:33] greyhatlinux commented on #61
hey @coderwassananmol
I would love to take up the task :smile:

[2020-03-30 21:04] Parikshit-Hooda commented on #110
This issue won't be covered under gssoc.

[2020-03-30 21:06] Parikshit-Hooda opened #115 "Requirement of Slack channel after gssoc?"
Do we need a slack after gssoc or we communicate via issues only?

[2020-03-30 21:08] Parikshit-Hooda commented on #97
@dipanshuraz @Bhanu-mbvg if anyone of you has made some progress on this, please raise a PR to let me know. Till then, both of you remain unassigned.

[2020-03-31 03:27] Garima-189 commented on #97
Can I work on it?

[2020-03-31 03:27] rampantRami commented on #97
yes

[2020-03-31 04:52] cohky16 commented on #110
Please assign this one to me and check pull request.

[2020-03-31 12:31] #110 closed

[2020-04-01 04:58] dibakar95 commented on #97
Can I work on this issue #GSSOC20

[2020-04-01 05:37] Parikshit-Hooda commented on #97
I think garima is on it. you can look for others labeled gssoc. @Garima-189 please update us within 3 days with the PR.

[2020-04-01 05:44] IuliaElizaS commented on #8
hello,
I'm a gssoc20 participant and I would like to give it a try

[2020-04-01 06:22] Ruchika30 commented on #46
Can i work on it ? @coderwassananmol

[2020-04-01 14:36] #103 closed

[2020-04-01 23:57] Parikshit-Hooda commented on #97
@rkpattnaik780 please handle this issue.

[2020-04-02 14:39] Parikshit-Hooda commented on #97
@dibakar95 if you want you can work on this issue now. please comment here if you're interested so that we can assign it to you.

[2020-04-05 10:31] Parikshit-Hooda opened #118 "migrate faq file to new location"
**Is your feature request related to a problem? Please describe.**
Yes, the current location to the faq.md might change. also, a user might not want to visit the github repo for the faq.

**Describe the solution you'd like**
* An independent HTML or a file which contains the same faq as the faq.md file in this repo.
* the idea is to decouple the faq from the repo.
* do make sure to open a new tab

[2020-04-05 11:22] Endowmissy commented on #118
I will like to work on this issue, please assign it to me.

[2020-04-05 11:25] Parikshit-Hooda commented on #118
@Endowmissy you may go ahead. Before I assign it to you, please describe what is the intended end result of this issue, in your mind,  so that I know that you understand it correctly. If you don't understand it correctly, i would provide more clarity on this.

[2020-04-05 16:58] rkpattnaik780 opened #119 "Fetch basic details of the book before uploading Google Books"
Currently the home page doesn't validate if the entered book ID is valid. It would be great if a GET request could be made onChange of the BookID input value to check if the ID exists and also to fetch some basic details regarding the book including Name, Cover, etc.

For extracting details, we can use scraping libraries like [Cheerio](https://www.npmjs.com/package/cheerio).

We can use the fetche

[2020-04-05 17:03] rkpattnaik780 opened #120 "Show a preview of book before initiating an upload"
Currently there is no provision to get a preview of the book we want to upload. To check which book is being addresses, the user has to manually enter the URL with the book ID.

It would be good for the UX if the user could see a preview of the book.

Should be fixed after #119 #121

[2020-04-05 17:08] Endowmissy commented on #118
@Parikshit-Hooda kindly make it more clear to me. Thanks

[2020-04-05 17:52] shreyakapoor08 commented on #118
@Parikshit-Hooda  can I work on this ?

[2020-04-06 01:58] Parikshit-Hooda commented on #118
currently the faq on https://bub2.toolforge.org/ leads to the faq file on the repo. this was a temporary fix. now, it should move to a separate independent page/location.

[2020-04-06 01:59] Parikshit-Hooda commented on #118
@shreyakapoor08 you may submit a pr as well.

[2020-04-06 04:26] IuliaElizaS commented on #119
Hi, I would like to give it a try. Please assign it to me.

[2020-04-06 06:23] ishukhanchi commented on #97
If it hasn't been assigned. I would like to work on this issue.

[2020-04-06 06:25] dibakar95 commented on #97
Please assign it to someone else. I can't right now. @Parikshit-Hooda

[2020-04-06 08:27] ankitjena opened #121 "Get details of book from Panjab Digital Library for preview purposes"
## Background
Currently the user cannot preview a book before uploading. We want to fetch details of the book so that they can be used to show the preview component. This is to be done for Panjab Digital Library.

## TODO
Use a scraping library to make a request to book url and get details which should include
- title
- author
- description
- cover

You can use a library like `cheerio` to do the s

[2020-04-06 08:29] ankitjena commented on #120
We can have /preview route which will take the following metadata
- title
- author
- description
- cover
and show a preview.

[2020-04-06 08:31] ankitjena opened #122 "Design layout for /preview route"
Make a figma design for the book preview component which will show the
- title
- author
- description
- cover (image)
The design should be in accordance with current BUB design.

[2020-04-06 08:34] #99 closed

[2020-04-06 08:36] ankitjena commented on #119
Go ahead. If you face any difficulties, feel free to reach out in slack.

[2020-04-06 08:41] ankitjena opened #123 "Investigate on how to integrate OBP library in the project"
Currently we are supporting Google Books and Panjab Digital Library. We are planning to integrate Open Book Publishers library too.

## TODO
- [x] See how we are downloading books from the other two libraries.
- [x] Check how to download book from Open Book Publishers
- [ ] Implement logic to download the book from OBP.

For any queries regarding this, contact in the slack channel.

[2020-04-06 08:48] ankitjena opened #124 "Get Details of book from OBP for book preview"
This issue is similar to #119 and #121 . We need to get the `title`, `author`, `description` and `cover image` to be used for previewing the book. We can use web scraping packages like `cheerio` to do this

[2020-04-06 08:54] ankitjena opened #125 "Upload book downloaded from OBP to Internet Archive"
Upload the book which we get from Open Book Publishers library to Internet archive.
- [ ] Check how we upload books in case of Google Books and PDL
- [ ] Implemented a similar logic for this case.

To be done after #123

[2020-04-06 08:56] ankitjena commented on #8
Follow up on #121 and #120

[2020-04-06 08:56] #8 closed

[2020-04-06 08:57] ankitjena commented on #7
Follow up on #119 and #120

[2020-04-06 08:57] #7 closed

[2020-04-06 13:02] BhuwanChandra commented on #122
@ankitjena I would like to work on this issue. please assign me.

[2020-04-06 13:05] BhuwanChandra commented on #120
@rkpattnaik780 @ankitjena I would like to work on this issue. please assign me.

[2020-04-06 13:07] BhuwanChandra commented on #121
@ankitjena I would like to work on this issue. please assign me.

[2020-04-06 13:42] ankitjena commented on #121
@BhuwanChandra Sure go ahead

[2020-04-06 13:43] ankitjena commented on #120
@BhuwanChandra The issue is blocked until #119 and #121 . You can take them up first

[2020-04-06 13:44] ankitjena commented on #122
@BhuwanChandra Sure go ahead

[2020-04-06 18:40] rinsacm commented on #124
@ankitjena  I would like to work on this issue. Please assign to me.

[2020-04-07 03:28] Parikshit-Hooda commented on #97
ok. @ishukhanchi i am assigning it to you now.

[2020-04-07 03:29] Parikshit-Hooda commented on #26
@meghaa105 is ther any progress on this issue or not? please update by midnight.

[2020-04-07 04:04] IuliaElizaS commented on #119
Ok, thank you!

[2020-04-07 04:52] ankitjena commented on #124
@rinsacm I would suggest looking at #123 first. That will help for this and needs to be done first. Feel free to ask if you have any queries regarding that.

[2020-04-08 08:15] Sapna2001 opened #127 "Update Readme"
Readme can be updated with details of mentors,admins,slack channels and details of gssoc. Please assign me this issue.

[2020-04-08 11:56] Parikshit-Hooda commented on #118
@shreyakapoor08 @Endowmissy please update on the progress

[2020-04-09 19:58] Dishebh commented on #6
I would like to work on this issue? Can I take it?

[2020-04-09 19:59] Dishebh commented on #26
@Parikshit-Hooda can I take up the issue, if it is still up for grabs?

[2020-04-12 16:53] #122 closed

[2020-04-12 17:54] #109 closed

[2020-04-13 11:22] amandhamija98 commented on #123
Hi, I am a gssoc participant, may I please be assigned this

[2020-04-13 14:55] Parikshit-Hooda commented on #97
currently. if you go to https://bub2.toolforge.org/ , and then click on 'help' button on top-right corner of the webapp, then click on the 'faq' in the dropdown options, it routes to https://github.com/coderwassananmol/BUB2/FAQ.md

to solve this issue, you need to generate a new (i don't know the exact terminology for it, so i'll say a) page.

after you code/develop this new page, link this page t

[2020-04-13 14:56] Parikshit-Hooda commented on #97
@ishukhanchi  check my comment above this comment.

[2020-04-13 16:13] ishukhanchi commented on #97
okay. I need to create a frontend page for that.? Where will I get the FAQs. I mean a db will be there to access the questions and answers. The obp API link there has a repo where the code is in python.

[2020-04-14 06:21] Amitsharma45 commented on #127
i want work on this issue please assigm this issue to me

[2020-04-14 17:04] BhuwanChandra commented on #121
@ankitjena @rkpattnaik780 in which file should I add the code?

[2020-04-14 17:10] ankitjena commented on #121
@BhuwanChandra Add a file inside `utils` folder called `scraper` or `metadata`. That will hold scraper for all 3 libraries.

[2020-04-15 13:03] BhuwanChandra commented on #120
@ankitjena can I work on this now?

[2020-04-16 11:28] rkpattnaik780 commented on #120
The issue is still blocked. It can be assigned only after #119 and #121 are fixed.

[2020-04-20 11:36] #112 closed

[2020-04-26 15:45] #121 closed

[2020-04-29 07:19] IuliaElizaS commented on #120
please assign me this issue, since is connected to the issue I'm working on. Thank you.

[2020-04-29 13:12] Rukmini-Meda commented on #123
I would like to work on this issue. Please assign this to me as part of GSSoC'20. I can make PR early.

[2020-04-29 13:13] Rukmini-Meda commented on #9
I would like to work on this issue. Please assign this to me as part of GSSoC'20.

[2020-04-29 13:14] Rukmini-Meda commented on #125
@ankitjena I would like to work on #123 and this issue as well. Please assign this to me as part of GSSoC'20.

[2020-04-29 18:32] akshaysingh5 commented on #102
I would like to issue. Please assign me.

[2020-04-29 18:33] akshaysingh5 commented on #85
I would like on this issue but I don't know the format of the file that needs to be uploaded, please elaborate.

[2020-04-29 18:36] akshaysingh5 commented on #123
I want to work on this issue. Please assign this to me.

[2020-04-29 18:39] akshaysingh5 commented on #118
I would like to work on this issue. Probably I am going to upload the faq file to AWS S3 or some other flat-file storage in the cloud.

[2020-04-29 18:41] akshaysingh5 commented on #124
I would like to work on this issue. Please assign this issue to me.

[2020-04-30 02:56] ankitjena commented on #125
Sure go ahead @Rukmini-Meda

[2020-04-30 04:53] Parikshit-Hooda commented on #118
@akshaysingh5 I think this is done. https://github.com/coderwassananmol/BUB2/pull/132

[2020-05-09 06:52] ishukhanchi commented on #61
Can we make this using a UML diagram?

[2020-05-11 05:27] ampsteric commented on #127
I can get it done.
please assign

[2020-05-12 13:59] Parikshit-Hooda commented on #61
@ishukhanchi it should be embeddable in the readme. If its possible, we can do UML too. Maybe the UML can be converted to jpg png too, if uml is not embeddable.

[2020-05-12 15:24] ishukhanchi commented on #61
Yeah, a png/jpeg file can be made.I'll do it.

[2020-05-12 18:02] Parikshit-Hooda commented on #61
@ishukhanchi go ahead.

[2020-05-15 14:06] Parikshit-Hooda commented on #61
@ishukhanchi what's the progress?

[2020-05-16 13:06] ishukhanchi commented on #61
I'm on it. Will update once done.

[2020-05-16 15:04] ishukhanchi commented on #61
![uml](https://user-images.githubusercontent.com/28891982/82123007-a10b4800-97b4-11ea-86bf-d529c0ca7789.png)

Please check this once.

[2020-05-17 03:38] Parikshit-Hooda commented on #61
I think @coderwassananmol should review this diagram.

[2020-05-17 06:53] ishukhanchi commented on #61
Till then I'll try to complete it.

[2020-05-17 19:46] coderwassananmol commented on #127
Since this project is exclusively for Wikimedia, we should refrain it from doing it. Thanks guys.

[2020-05-17 19:46] #127 closed

[2020-05-17 19:49] coderwassananmol commented on #61
@ishukhanchi This UML diagram sort of demonstrates what the tool does. We want a diagram that would go into technical details of how the book uploading and queue service takes place. Read my above comment: https://github.com/coderwassananmol/BUB2/issues/61#issuecomment-602249992 to get to know what kind of details I am looking for. All the best!

[2020-05-19 06:38] ishukhanchi commented on #61
![uml](https://user-images.githubusercontent.com/28891982/82292984-6a5a4b00-99c9-11ea-927a-aeff00fd58c6.png)
Kindly review this one.

[2020-05-23 15:14] Parikshit-Hooda opened #133 "add link to internet archive in readme.md"
**Describe the bug**
Add link to the phrase 'Internet Archive'. Link to add : https://archive.org/

Steps to reproduce the behavior:
1. Go to 'https://github.com/coderwassananmol/BUB2/blob/develop/README.md'
2. See the bold phrase.

3. See error

**Expected behavior**
A link to the Internet Archive to be added.

**Screenshots**
Not applicable.

**Desktop (please complete the following information)

[2020-05-23 15:21] #118 closed

[2020-05-23 16:29] arghac14 commented on #133
@Parikshit-Hooda assign me this

[2020-05-26 09:13] #133 closed

[2020-05-27 04:45] IuliaElizaS commented on #119
Hi, I can't work on this issue anymore due to personal problems. Please unasign me so others can fix it before the GSSOC program ends.
Thank you.

[2020-05-27 04:46] IuliaElizaS commented on #120
Hi, I can't work on this issue anymore due to personal problems. Please unasign me so others can fix it before the GSSOC program ends.
Thank you.
 

[2020-08-29 10:09] satdeepgill opened #137 "Files from Panjab Digital Library have very low resolution"
**Describe the bug**
Many files uploaded from Panjab Digital Library have very low resolution that it becomes impossible to read or OCR them. Here is an example:

https://commons.wikimedia.org/w/index.php?title=File:Heer_Lahori.pdf&page=3

[2020-08-29 10:12] satdeepgill opened #138 "Files from Panjab Digital Library failed to become PDFs"
**Describe the bug**
Out of a total of 115 works uploaded to IA from Panjab Digital Library using the tool, 100 failed to become PDF. These are only available as ZIP files or torrents.

Here is the entire list of works uploaded from PDL:

https://archive.org/search.php?query=source%3A%22Punjab+Digital+Library%22&page=3

[2020-08-29 10:15] satdeepgill opened #139 "Remove enter email field and display a public queue instead"
Entering email every time isn't very practical. Having a public queue of all the pending works is more useful.

Anyways, the email feature is not working currently.

[2020-10-03 15:44] coderwassananmol commented on #138
@satdeepgill Please write an e-mail to collections-service@archive.org. Apparently, the derive tasks fail if JPEG conversion exceeds 2 GB. They have to be restarted by an admin.

[2020-10-03 15:44] #138 closed

[2020-10-03 15:50] coderwassananmol opened #140 "Remove email field from the home page"
Need to remove e-mail field from home page.

[2020-10-03 15:50] adripo commented on #140
I will to that

[2020-10-03 15:50] Rupesh-2003 commented on #140
Hey I would like to work on it

[2020-10-03 15:51] coderwassananmol commented on #26
The modularity in code will be fixed in the next release. Closing this issue.

[2020-10-03 15:51] #26 closed

[2020-10-03 15:52] #46 closed

[2020-10-03 15:52] coderwassananmol commented on #46
Fixed in next release.

[2020-10-03 15:54] coderwassananmol commented on #52
The contribution templates have been created. Closing the issue.

[2020-10-03 15:54] #52 closed

[2020-10-03 15:55] coderwassananmol commented on #54
Since GSSoC is over, closing this issue.

[2020-10-03 15:55] #54 closed

[2020-10-03 16:00] ritik307 commented on #140
I am interested in working on this issue

[2020-10-03 16:00] coderwassananmol commented on #140
@Rupesh-2003 Assigned you! Good luck.

[2020-10-03 16:02] coderwassananmol commented on #123
This is done. We need to add the service to integrate it.

[2020-10-03 16:02] #123 closed

[2020-10-03 16:03] coderwassananmol commented on #61
Thanks @ishukhanchi . Closing the issue.

[2020-10-03 16:03] #61 closed

[2020-10-03 16:06] coderwassananmol commented on #97
This issue is no longer valid.

[2020-10-03 16:06] #97 closed

[2020-10-03 16:09] coderwassananmol commented on #115
The issues are a good place for GitHub projects of this scale.

[2020-10-03 16:09] #115 closed

[2020-10-03 16:11] coderwassananmol commented on #140
Please take a look at other open issues. :)

[2020-10-03 16:12] NitipatTh commented on #140
I would like to work on it :)

[2020-10-03 16:24] luisgdelahozl commented on #102
Hi, I would like to work on it

[2020-10-03 16:55] Rupesh-2003 commented on #140
sorry @coderwassananmol, but I can't contribute to the project, You may assign it to someoneElse...

[2020-10-03 16:58] NitipatTh commented on #140
I would like to work on it

[2020-10-03 19:30] zahrafalah commented on #140
Hey, I am interested in this

[2020-10-03 21:39] sPreet247 commented on #140
Hey,I would like to work on this

[2020-10-04 05:00] coderwassananmol commented on #140
Hi guys, feel free to submit a PR since there are a lot of requests now.

[2020-10-04 05:02] coderwassananmol commented on #102
Feel free to submit PR.

[2020-12-17 09:39] kavyashree1903 commented on #49
I would like to work on this.

[2020-12-17 09:40] kavyashree1903 commented on #140
I would like to work on this.

[2022-08-12 06:42] coderwassananmol opened #143 "Make queue refresh automatically"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-12 06:46] coderwassananmol opened #144 "Fix the percentage for Panjab Digital Library Queue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-08-12 07:02] coderwassananmol opened #145 "Make Upload progress 0 if bull queue fails"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-08-12 07:07] coderwassananmol opened #146 "Show date and time column in the queue"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-12 07:13] coderwassananmol opened #147 "Change the placeholder for Google Books"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-08-12 07:19] coderwassananmol opened #148 "Add search bar in queue"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-12 09:29] coderwassananmol opened #149 "Handle queue if there are no jobs"
If the queue is empty and there are no jobs, it throws a `TypeError`. This needs to be fixed by handling the function if there queue has no jobs

[2022-08-13 08:11] coderwassananmol opened #150 "Don't allow random URLs in PanjabDigiLib"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi